*{
    // üstte boşluğu aldık
    margin: 0;
    padding: 0;
    font-size: 10px;
}

.container{
background-color: red;
margin: 0 10px;

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: gray;
    font-size: 30px;
}

.sliderContainer{
    display: flex;
    height: 70vh;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    
    
    font-size: 10rem;

}

.boxes{
    height: 200px;
    display: flex;
.box{
    height: 100%;
    background-color: bisque;
    border: 1px solid black;
    flex:1;
}
}

.differentboxes{
    height: 200px;
    display: flex;
    border-bottom: 1px solid black;

    .db2{
        flex: 2;
        border-right: 1px solid black;
    }
    .db1 {
        flex: 1;
    }
}

.wrapper{
ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
    margin: 0;
    
    gap:30px;
    li {
        display: inline;
        list-style: none;
        

        img{
            width: 100%;
        }
    }
}
}

.footer {
    height: 30vh;
    background-color: lawngreen;
    display: flex;
    border-bottom: 1px solid black;
    .footeritem{
        flex:1;
        height: 30vh;
        border-right: 1px solid black;
        ul{
            display: flex;
            height: 30vh;
            flex-direction: column;
            justify-content: space-evenly;
            border-bottom: 1px solid black;
            
       
           li{
            display: block;
            display: flex;
            justify-content:center ;
            list-style: none;
            border:1px solid black;
            padding: 4px;
            margin: 2px;
            font-size: 1.6rem;
           }
        }
    }
}

.yüzde{
    display: flex;
    width: 100%;
    height: 500px;
    background-color: aqua;
    gap: 2px;
   

    .yüzdeitem {
        display: flex;
        flex: 1;
        width: 50%;
        height: 50%;
        font-size: 2rem;
        background-color: black;
        color: white;
        justify-content: center;
        align-items: center;
       
    
    }
}


}


@media only screen and (max-width: 600px) {
    *{
      font-size: 8px;
    }

    .boxes{
        flex-direction: column;
    }

    .differentboxes{
        flex-direction: column;
    }

    .footer{
        flex-direction: column;
    }

    .footeritem:nth-child(n+2){
        display: none;
    }

  
  }
